@model IEnumerable<FeedBackMVC.Models.User>
@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Информация о клиентах</title>
</head>
<body>
    <h3>Клиенты</h3>
    <table>
        <tr>
            <td>Имя</td>
            <td>Почта</td>
            <td>Телефон</td>
            <td></td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.User_name</td>
                <td>@user.User_mail</td>
                <td>@user.User_phone</td>
                <td><a href="~/Home/SendMessage/@user.Id">Отправить письмо</a></td>
            </tr>
        }
    </table>
</body>
</html>